* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}

#myTable {
    margin: 0 auto;
}

.header {
    width: 90vh;
}

.header-row {
    padding: 10px 10px;
    min-height: 50px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

th:nth-child(1){
    width: 20vw;
    display: flex;
    justify-content: start;
} 

th:nth-child(2) {
    width: 45vw;
    display: flex;
    justify-content: start;
}

 th:nth-child(3) {
    width: 25vw;
    display: flex;
    justify-content: start;
}

.text-row {
    padding: 10px 10px;
    min-height: 50px;
    display: flex;
    align-items:start;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.border {
    width: 95vw;
}

.text-data:nth-child(1){
    width: 20vw;
}

.text-data:nth-child(2) {
    width: 45vw;
    white-space: pre-line;
}

.text-data:nth-child(3) {
    width: 25vw;
}

